@use './styles/variables.scss' as vars;

// Mixin for flex centering
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: vars.$desktop;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter vars.$transition-medium;

  &:hover {
    filter: drop-shadow(0 0 2em rgba(vars.$primary-color, 0.67));
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em rgba(vars.$react-color, 0.67));
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: vars.$bg-dark-secondary;
  cursor: pointer;
  transition: border-color vars.$transition-fast;

  &:hover {
    border-color: vars.$primary-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}

.read-the-docs {
  color: #888;
}
